.container{
    position: fixed;
    top:0;
    left:0;
    background-color:#1FC4AB;
    width:100vw;
    height:100vh;
}

.background{
    position: fixed;
    top: 15vh;
    left: 20vw;
    width: 60vw;
    height: 70vh;
    background-color: white;
    border-radius: 5px;
}