<div class="row">
    <div class="col-md-12">
        <h2 class="pull-left">TASK</h2>
        <span class="pull-right">
            <div class="dropdown btn custom-setting" appDropDown>
                <a class="dropdown-toggle" role="button">
                    X
                </a>
                <ul class="dropdown-menu">
                    <li><a (click)="onEditList()">Edit-List</a></li>
                    <li><a (click)="onDeleteList()">Delete-List</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <app-task-element 
                *ngFor="let taskEl of tasks;let i=index"
                [task]="taskEl"
                [task_id]="i"></app-task-element>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button 
            type="button" 
            class="btn custom-tasks pull-right"
            [routerLink]="['new-task']">+</button>
    </div>
</div>
