<div class="backdrop">
    <div class="alert-box col-xs-8">
        <h2>Edit Task</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <input 
            type="text" 
            class="form-control" 
            id="edit-task"
            ngModel
            name="name"
            required>
        <div class="pull-right">
            <button 
                type="button" 
                class="btn custom-cancel"
                (click)="onBack()">Cancel</button>
            <button 
                type="submit" 
                class="btn custom-submit"
                [disabled]="!f.valid">Save</button>
        </div>
        </form>
    </div>
</div>
