<div class="backdrop">
    <div class="alert-box col-xs-8">
        <h2>Create A New-List</h2>
        <form (ngSubmit)="onSubmit(f)" #f=ngForm>
        <input 
            type="text" 
            class="form-control" 
            id="new-list"
            name="name"
            ngModel
            required>
        <div class="pull-right">
            <button 
                type="button" 
                class="btn custom-cancel" 
                (click)="onBack()">
                Cancel
            </button>
            <button 
                type="submit" 
                class="btn custom-submit"
                [disabled]="!f.valid">Create</button>
        </div>
        </form>
    </div>
</div>
